<div id="cover">
    <%= image_tag("cover.png", :alt => "Aktivitetsbanken") %>
</div>
<div id="content">
    <div id="android-app-badge">
        <a href="https://play.google.com/store/apps/details?id=se.devscout.android">
            <img alt="Get it on Google Play"
                 src="https://developer.android.com/images/brand/en_generic_rgb_wo_45.png"/>
        </a>
    </div>

    <p>Vi i <a href="http://www.devscout.se">/dev/scout</a> jobbar för att sveriges scouter ska ha bättre it-stöd.</p>

    <p>Ett exempel på detta är ett API för att komma åt <a href="http://aktivitetsbanken.se/">Aktivitetsbanken</a>.</p>

    <p>API:et används i dagsläget enbart av vår Android-app, men vi hoppas det blir fler skojiga appar i framtiden!</p>

</div>