<div id="cover">
    <%= image_tag("cover.png", :alt => "Aktivitetsbanken") %>
</div>
<div id="content">
<!--
    <div id="android-app-badge">
        <a href="https://play.google.com/store/apps/details?id=se.devscout.android">
            <img alt="Get it on Google Play"
                 src="https://developer.android.com/images/brand/en_generic_rgb_wo_45.png"/>
        </a>
    </div>
-->

    <p>Vi i <a href="http://www.devscout.se">/dev/scout</a> jobbar för att Sveriges scouter ska ha bättre it-stöd.</p>

    <!--<p>Ett exempel på detta är ett API för att komma åt <a href="http://aktivitetsbanken.se/">Aktivitetsbanken</a>.</p>-->

    <!--<p>API:et används i dagsläget enbart av vår Android-app, men vi hoppas det blir fler skojiga appar i framtiden!</p>-->

    <h1>Android-appen</h1>

    <p>Vi söker personer som vill beta-testa vår (inofficiella) app och som gärna delar med sig av sina
        synpunkter till oss som utvecklar den, allt för att den ska få alla de
        funktioner som ni vill ha!</p>

    <h2>Så här blir du beta-testare</h2>

    <ol>
        <li><p>Gå med i Google+-gruppen
            <a href="https://plus.google.com/u/0/communities/108714619055335412441">Testa Android-app för
                Aktivitetsbanken</a>.</p></li>
        <li><p>Gå till
            <a href="https://play.google.com/apps/testing/se.devscout.android">https://play.google.com/apps/testing/se.devscout.android</a>
            för att
            installera appen.</p></li>
        <li><p>Berätta för oss vad du tycker, exempelvis genom att skriva i Google+-gruppen.
            Vi tar tacksamt emot önskemål, buggrapporter och snälla ord =)</p></li>
    </ol>

</div>